body {
  margin: 0;
  padding: 0;
}

* {
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Roboto Slab', serif;
}

.button {
  padding: 5px 15px;
  margin: 5px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #aaaaaa;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 1px #ebebeb;
  cursor: pointer;
}

.button:hover {background-color: #808080}

.button:active {
  background-color: #808080;
  box-shadow: 2px 2px 1px #ebebeb;
  transform: translateY(2px);
}

.checkbox {
  margin-right:5px;
  cursor: pointer;
}

.priority-star {
  margin-right:5px;
  cursor: pointer;
}

.list-card {
  border-style: solid;
  border-color: #d0d0d0;
  box-shadow: 3px 3px 2px #ebebeb;
  margin: 10px;
  padding: 10px;
}

.list-item {
  display:inline;
  cursor: context-menu;
}

.list-item:hover .dropdown-content {
  display: block;
}

.list-item:hover {
  background-color: pink;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px 10px;
  z-index: 1;
  cursor: pointer;
}

.dropdown-content div:hover {
  background-color: #ddd;
}
