body {
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  color: black;
}

h3 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  font-size: 1.3em;
  margin-left: 1em;
  margin-top: .6em;
  margin-bottom: .6em;
  background: -webkit-linear-gradient(left, #269e61, #b9f4d6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.placeholder {
  font-size: 1.4em;
  color: #525252;
  margin-left: .8em;
  margin-bottom: 2em;
}

.no-outline {
  outline: none;
  border: 1px solid #72d4a2;
  border-radius: 4px;
}

.no-outline:focus {
  background-color: #b9f4d6;
}

.typewriter {
  font-family: 'Roboto Mono', monospace;
  font-size: 72px;
  color: white;
  letter-spacing: .15em;
  margin: 0 auto;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  max-width: 65%;
  overflow: auto;
  overflow-y: hidden;
  white-space: nowrap;
  border-right: .15em solid #72d4a2;
  animation:
    typing 4s steps(15, end),
    blinking-cursor .8s step-end infinite;
}

/* animates the width of the text from 0 to 100% */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blinking-cursor {
  from, to { border-color: transparent }
  50% { border-color: #72d4a2 }
}

.container {
  height: 100%;
  width: 100%;
  position: fixed;
  text-align: center;
}

.navbar {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
}

.footer {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  bottom: 0;
  text-align: center;
  margin-top: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
}

/* Links inside the navbar */
.navbar a {
  float: right;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

.dropdown {
  text-align: center;
  /* float: center; */
  /* overflow: hidden; */
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  padding: 14px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #72d4a2;
  cursor: pointer;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  margin-left: 20px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.8);
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: white;
  margin-top: .5em;
  margin-bottom: .5em;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #72d4a2;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.title {
  font-size: 2em;
  color: white;
  /* color: #b9f4d6; */
  text-align: center;
  margin-left: 20%;
  margin-top: .25em;
  font-family: 'Roboto Mono', monospace;
}

.bullet {
  margin-right: 5px;
  cursor: pointer;
  position: relative;
}

.bullet .tooltiptext {
  visibility: hidden;
  width: max-content;
  background-color: #72d4a2;
  color: #fff;
  font-size: .7em;
  text-align: center;
  border-radius: 4px;
  padding: 4px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.4s;
}

.bullet:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.delete-icon {
  margin-left:6px;
  cursor: pointer;
}

.list-card {
  border-style: solid;
  border-color: #eeeeee;
  border-radius: 4px;
  box-shadow: 2px 2px 1px #999999;
  margin: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.85);
}

.rollover-card {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px 10px 20px 10px;
  border-radius: 4px;
  box-shadow: 2px 2px 1px #999999;
}

.list-item {
  display:inline;
}

/* .list-item:hover .dropdown-content {
  display: block;
}

.list-item:hover {
  background-color: pink;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px 10px;
  z-index: 1;
  cursor: pointer;
}

.dropdown-content div:hover {
  background-color: #ddd;
} */

.modal {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: #f5fffa;
  border: 1px solid #72d4a2;
  border-radius: 4px;
  width: 30%;
  height: auto;
  top: 50%;
  left: 50%;
  padding: 10px;
  box-shadow: 1px 1px 2px #72d4a2;
  transform: translate(-50%,-50%);
}

.rainbow {
  -webkit-animation: rainbow 6s infinite;
  font-size: 1.3em;
  font-weight: bold;
}

@-webkit-keyframes rainbow{
  0%{color: pink;}
  10%{color: purple;}
	20%{color: red;}
  30%{color: CadetBlue;}
	40%{color: lightpink;}
  50%{color: coral;}
	60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
	100%{color: papayawhip;}
}
